.TasksContainer{
  width: 44rem;
  height: 22rem;
  padding: 0;
  gap: 0.5rem;
  margin: 0 auto;
  margin-top: 4.5rem;
  justify-content: center;
  align-items: center;
}

.TasksInfo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.TasksCreated{}

.strongCreated {
  color: var(--blue500);
  weight: var(--fontBold);
  line-height: var(--lineHeight);
}

.tasksNumbers  {
  color: var(--gray200);
  font-weight: var(--fontBold);
  border-radius: 0.75rem;
  padding: 0.125rem 0.5rem;
  gap: 0.625rem;
  background: var(--gray400);
  margin-left: 0.5rem;
}

.completedTasks{}

.completedStrong{
  color: var(--purple500);
  weight: var(--fontBold);
  line-height: var(--lineHeight);
}

.tasksList{
  border-top: 0.0625rem solid var(--gray400);
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
}
.tasksIcon{
  margin-top: 4rem;
}

.tasksText{
  text-align: center;
  color: var(--gray300);
} 

.tasksTextP{
  color: var(--gray300);
  font-weight: var(--fontBold);
  line-height:var(--lineHeight);
}

.tasksTextS{
  color: var(--gray300);
  font-weight: var(--fontRegular);
  line-height:var(--lineHeight);
}